<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="tv" class="com.first.myspring.SamsungTV">
	<constructor-arg value="2500000"></constructor-arg>
	<constructor-arg ref="sony"></constructor-arg>
</bean>
<bean class="com.first.myspring.LgTV"></bean>
<bean id="sony" class="com.first.myspring.SonySpeaker"></bean>

</beans>
